{{#if this.widgetAttrs.prompt}}
  <option disabled selected={{is-not this.value}}>
    {{this.widgetAttrs.prompt}}
  </option>
{{/if}}

{{#each this.widgetAttrs.content as |item|}}
  <option value="{{if this.widgetAttrs.optionValuePath (get item this.widgetAttrs.optionValuePath) item}}"
          selected={{is-equal (if this.widgetAttrs.optionValuePath (get item this.widgetAttrs.optionValuePath) item) this.value}}>
    {{get item this.widgetAttrs.optionLabelPath}}
  </option>
{{/each}}
