{{#if this.widgetAttrs.prompt}}
  <option disabled selected={{is-not value}}>
    {{this.widgetAttrs.prompt}}
  </option>
{{/if}}

{{#each this.widgetAttrs.content as |item|}}
  <option value="{{if this.widgetAttrs.optionValuePath (get item widgetAttrs.optionValuePath) item}}"
          selected={{is-equal (if widgetAttrs.optionValuePath (get item widgetAttrs.optionValuePath) item) value}}>
    {{get item widgetAttrs.optionLabelPath}}
  </option>
{{/each}}
