{{#if label}}
  <label class='{{labelClass}}'>{{label}}</label>
{{/if}}

{{#if isSelect}}

  <FmSelect @content={{content}} @optionValuePath={{optionValuePath}} @optionLabelPath={{optionLabelPath}} @prompt={{prompt}} @value={{value}} />

{{/if}}


{{#if isTextarea}}

{{/if}}

{{#if isBasicInput}}

  <Input @type={{type}} @value={{value}} @classNameBindings="errorClass inputClass" placeholder={{placeholder}} />

{{/if}}

{{#if errors}}
  <FmErrortext @errors={{errors}} />
{{/if}}

{{#if helptext}}
  <FmHelptext @helptext={{helptext}} />
{{/if}}
