{{#if this.label}}
  <label class='{{this.labelClass}}'>{{this.label}}</label>
{{/if}}

{{#if this.isSelect}}

  {{fm-select
    content=this.content
    optionValuePath=this.optionValuePath
    optionLabelPath=this.optionLabelPath
    prompt=this.prompt
    value=this.value
  }}

{{/if}}


{{#if this.isTextarea}}

{{/if}}

{{#if this.isBasicInput}}

  {{input
    type=this.type
    value=this.value
    classNameBindings='errorClass inputClass'
    placeholder=this.placeholder}}

{{/if}}

{{#if this.errors}}
  {{fm-errortext errors=this.errors}}
{{/if}}

{{#if this.helptext}}
  {{fm-helptext helptext=this.helptext}}
{{/if}}
