{{#if label}}
  <label class='{{labelClass}}'>{{label}}</label>
{{/if}}

{{#if isSelect}}

  {{fm-select
    content=content
    optionValuePath=optionValuePath
    optionLabelPath=optionLabelPath
    prompt=prompt
    value=value
  }}

{{/if}}


{{#if isTextarea}}

{{/if}}

{{#if isBasicInput}}

  {{input
    type=type
    value=value
    classNameBindings='errorClass inputClass'
    placeholder=placeholder}}

{{/if}}

{{#if errors}}
  {{fm-errortext errors=errors}}
{{/if}}

{{#if helptext}}
  {{fm-helptext helptext=helptext}}
{{/if}}
