<button
  data-test={{this.dataTest}}
  value={{this.value}}
  disabled={{this.disabled}}
  class='{{this.submitButtonClass}}'
  type="submit">
  {{#if this.value}}
    {{this.value}}
  {{/if}}
  {{yield}}
</button>
