<div class="{{styles.checkboxWrapperClass}} {{if visibleErrors.length styles.errorClass}}">
  <div class="checkbox">
    <label>
      {{yield}}
      {{label}}
    </label>

    {{#if visibleErrors.length}}
      <span class="{{styles.errortextClass}}">
        {{visibleErrors.firstObject}}
      </span>
    {{/if}}
  </div>
</div>
