<div class="{{this.styles.checkboxWrapperClass}} {{if this.isFocused this.styles.focusClass}} {{if this.visibleErrors.length this.styles.errorClass}} {{this.formGroupClass}}">
  <div class="checkbox">
    <label>
      {{yield}}
      {{this.label}}
    </label>

    {{#if this.visibleErrors.length}}
      <span class="{{this.styles.errortextClass}}">
        {{this.visibleErrors.firstObject}}
      </span>
    {{/if}}
  </div>
</div>
