<div class="{{styles.wrapperClass}} {{if visibleErrors.length styles.errorClass}}">
  {{#if label}}
    <label for="{{forAttribute}}" class="{{styles.labelClass}}">{{{label}}}</label>
  {{/if}}

  {{yield inputClasses}}

  {{#if visibleErrors.length}}
    <span class="{{styles.errortextClass}}">
      {{visibleErrors.firstObject}}
    </span>
  {{/if}}

  {{#if helptext}}
    <span class="{{styles.helptextClass}}">
      {{helptext}}
    </span>
  {{/if}}
</div>
