<div data-test={{this.dataTest}}
     class="{{this.styles.wrapperClass}}
            {{if this.isFocused this.styles.focusClass}}
            {{if this.visibleErrors.length this.styles.errorClass}}
            {{if this.isValid this.styles.isValidClass}}
            {{this.formGroupClass}}">
  {{#if this.label}}
    <label for="{{this.forAttribute}}"
           class="{{this.styles.labelClass}}">
      {{{this.label}}}
    </label>
  {{/if}}

  {{yield this.inputClasses}}

  {{#if this.visibleErrors.length}}
    <span class="{{this.styles.errortextClass}}">
      {{this.visibleErrors.firstObject}}
    </span>
  {{/if}}

  {{#if this.helptext}}
    <span class="{{this.styles.helptextClass}}">
      {{this.helptext}}
    </span>
  {{/if}}
</div>
