<div class="row">

  <div class="col-sm-8">
    {{#fm-form action='submit'}}

      {{fm-field label='First Name'
        value=model.exampleModel.first_name
        errors=model.exampleModel.errors.first_name
        placeholder='Foo'
      }}

      {{fm-field label='Last Name'
        value=model.exampleModel.last_name
        errors=model.exampleModel.errors.last_name
        placeholder='Bar'
      }}

      {{fm-field
        label='Write an Essay'
        widget='textarea'
        value=model.exampleModel.essay
        errors=model.exampleModel.errors.essay
        rows='6'
        helptext='Make sure its good!'
        data-test='master-2000'
      }}

      {{fm-field
        label='Choose Something'
        widget='select'
        content=model.selectOptions
        optionValuePath='value'
        optionLabelPath='label'
        prompt='Select Something'
        value=model.exampleModel.language
        action=(action (mut model.exampleModel.language))
        errors=model.exampleModel.errors.language
      }}

      {{fm-field
        widget='checkbox'
        label='Are you awesome?'
        value=model.exampleModel.isAwesome
        errors=model.exampleModel.errors.isAwesome
      }}

      {{fm-field
        widget='radio-group'
        label='Choose the best language'
        name='bestLanguage'
        content=model.radioOptions
        optionValuePath='value'
        optionLabelPath='label'
        value=model.exampleModel.bestLanguage
        errors=model.exampleModel.errors.bestLanguage
      }}

      {{fm-submit value='Submit the Form' disabled=model.disableSubmit}}

    {{/fm-form}}
  </div>

  <div class="col-sm-3 col-sm-offset-1">
    <a href="#" {{action 'toggleErrors'}} class="btn btn-default btn-block">Toggle Errors</a>
    <a href="#" {{action 'toggleSelectValue'}} class="btn btn-default btn-block">Toggle Select Value</a>
    <a href="#" {{action 'toggleSubmit'}} class="btn btn-default btn-block">Toggle Disable Submit</a>
    <a href="#" {{action 'toggleCheckbox'}} class="btn btn-default btn-block">Toggle Checkbox</a>
    <a href="#" {{action 'toggleRadio'}} class="btn btn-default btn-block">Toggle Radio</a>
    <hr>
    <h4>Model Values</h4>
    <ul>
      <li>First Name: {{model.exampleModel.first_name}}</li>
      <li>Last Name: {{model.exampleModel.last_name}}</li>
      <li>
        Essay:
        {{#if model.exampleModel.essay}}
          <br>
          <em>{{{model.exampleModel.essay}}}</em>
          <br>
        {{/if}}
      </li>
      <li>Choose Something: {{model.exampleModel.language}}</li>
      <li>
        Are you awesome?
        {{#if model.exampleModel.isAwesome}}
          Yup
        {{else}}
          Nope
        {{/if}}
      </li>
      <li>Best Language: {{model.exampleModel.bestLanguage}}</li>
    </ul>
  </div>

</div>

<hr>
