{{#if label}}
  <label for="{{forAttribute}}" class="{{labelClass}}">{{{label}}}</label>
{{/if}}

{{#if isBasicInput}}
  {{fm-input
    type=type
    value=value
    classNameBindings='errorClass inputClass'
    maxlength=maxlength
    placeholder=placeholder
    onUserInteraction='userInteraction'
  }}
{{/if}}

{{#if isSelect}}
  {{fm-select
    content=content
    optionValuePath=optionValuePath
    optionLabelPath=optionLabelPath
    prompt=prompt
    value=value
    action=(action 'selectAction')
    onUserInteraction='userInteraction'
  }}
{{/if}}

{{#if isTextarea}}
  {{fm-textarea
    value=value
    classNameBindings='errorClass textareaClass'
    placeholder=placeholder
    rows=rows
    cols=cols
    maxlength=maxlength
    spellcheck=spellcheck
    disabled=disabled
    onUserInteraction='userInteraction'
  }}
{{/if}}

{{#if showErrors}}
  {{fm-errortext errors=errors}}
{{/if}}

{{#if helptext}}
  {{fm-helptext helptext=helptext}}
{{/if}}
