{{#if prompt}}
  <option disabled selected={{is-not value}}>
    {{prompt}}
  </option>
{{/if}}

{{#each content key="@identity" as |item|}}
  <option value="{{if optionValuePath (get item optionValuePath) item}}"
          selected={{is-equal (if optionValuePath (get item optionValuePath) item) value}}>
    {{get item optionLabelPath}}
  </option>
{{/each}}
