{{#if prompt}}
  <option disabled selected={{is-not value}}>
    {{prompt}}
  </option>
{{/if}}

{{optionValuePath}} / {{optionLabelPath}}

{{#each content key="@identity" as |item|}}
  <option value="{{get item optionValuePath}}"
          selected={{is-equal (get item optionValuePath) value}}>
    {{get item optionLabelPath}}
  </option>
{{/each}}
